*,
*::before,
*::after{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body{
  font-family: Arial, Helvetica, sans-serif;
}

.title{
  margin-top:30px auto;
  text-align: center;
}

.box{
  max-width: 300px;
  
  margin: 20px auto;
  position: relative;
  
}





.box img{
  display: block;
  width: 100%;
}

.box-content{
  color: #fff;
  position: absolute;
  top: 20%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
  opacity: 0;
  z-index: 5;
  transition:  .4s;
 
  
  
}

.box:hover .box-content{
  opacity: 1;
  top: 50%;
  
  
}


.box:hover::after{
  opacity: 1;
}


.btn{
  
  text-decoration: none;
  background: #232323;
  color: #fff;
  padding: .2em .5em;
  display: inline-block;
  margin-top: 12px;
  font-size: 11px;
  
}

.btn:hover{
  background: #454545;
  box-shadow: 5px 5px 6px rgba(0, 0, 0, .43);
}


.box::after{
  content: 'hello';
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, .65);
  opacity: 0;
  z-index: 2;
  transition: .4s;
}
.box-content h3{
  font-size: 11px;
  font-weight: bold;
}
